extends ./layout.jade

block body
    .row.article
        .medium-9.medium-centered.large-8.columns
            .wrapper
                article.text-content
                    h1= title

                    if subtitle
                        h2.subtitle!= nl2br(subtitle)

                    .meta-data
                        .clearfix
                            ul.left
                                li <i class="fa fa-fw fa-calendar"></i> #{isoDate(date)}
                                li <i class="fa fa-fw fa-clock-o"></i> #{__('x_minutes', readingTime)}
                                li <i class="fa fa-fw fa-user"></i> #{authors.join(', ')}
                                if draft
                                    li.draft: <i class="fa fa-fw fa-pencil"></i> DRAFT

                            ul.right
                                if allow_comments
                                    li: a(href="#comments" data-tooltip title=__('view_comments')) <i class="fa fa-fw fa-comment"></i> <a href="#comments" data-disqus-identifier="#{disqus_id}">0</a>
                                if files
                                    li: a(data-dropdown="downloads" data-tooltip data-tooltip-content='#downloads' title=__('downloads')) <i class="fa fa-fw fa-download"></i>&nbsp;<i class="fa fa-angle-down"></i>

                        if note
                            .note!= markdown(note)

                        if files
                            #downloads.hide
                                p= __('downloads')
                                ul
                                    each file in files
                                        li: a(href='/assets/downloads/#{file[1]}') <i class="fa fa-fw fa-file-o"></i> #{file[0]}

                    div!= contents

                    div.hide.footnote-ctrls
                        hr
                        a(data-toggle-footnotes=__('notes_show')) <i class="fa fa-fw fa-list"></i> <span>#{__('notes_hide')}</span> <i data-toggle-icon class="fa fa-angle-up"></i>

                //- This is here so that when clicking on the
                //- comments button the users sees the CTA
                a(name='comments')

            .wrapper
                p.cta!= __('article_cta', { path: path, index_path: findOne({ id: 'index' }).lang(locale).path})

                //- DISQUS
                //-
                //- Usamos el mismo Disqus para los dos idiomas, si se
                //- quieren tener los comentarios separados por idiomas
                //- hay que meter el idioma en "disqus_identifier".
                //-
                if allow_comments
                    hr
                    #disqus_thread.comments
                    noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments</a>.

block javascript
    if allow_comments
        script.
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_identifier = '#{disqus_id}';
            var disqus_title      = "#{lang('ca').title}";
            var disqus_url        = "http://www.grupreflexioautonomia.org/#{lang('ca').path}";

            /* * * DON'T EDIT BELOW THIS LINE * * */
            //- Thread
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
